<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Remove duplicates</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <form action="deduplicateMode">
        <div class="radio">
          <input type="radio" [(ngModel)]="deduplicateMode" name="mode" value="full" id="mode_1">
          <label for="mode_1">Remove full duplicates</label>
        </div>
        <div class="radio">
          <input type="radio" [(ngModel)]="deduplicateMode" name="mode" value="colnames" id="mode_2">
          <label for="mode_2">Remove duplicates in one or more column(s) and leave only the first value/ row</label>
        </div>
      </form>
      <br>
      <div id="reshapemode-column" *ngIf="deduplicateMode=='colnames'">
        <ng-select class="ng-select" [items]="previewedDataColumns" [multiple]="true" [hideSelected]="true" bindLabel="value" appendTo="body"
          placeholder="Select column(s)" [(ngModel)]="colNames"></ng-select>
      </div>
      <br>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Comments" [(ngModel)]="docstring">
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>