.wrapper {
  height: 500px;
  padding-top: 5px;
  border-top: 1px solid gray;
}

.stepper {
  width: 220px;
  background-color: #fafafa;
}

.btn:focus {
  outline: none;
}

.wrapper-labels {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}

#label {
  padding-top: 10px;
}
