<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Rename columns</h3>
  <div class="modal-body">
    <div *ngFor="let idx of getmaplength()">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="5">
            <button class="btn btn-link btn-icon-link" [disabled]="mappings.length === 2">
              <mat-icon size="22" id="remove-icon" (click)="removeMapping(idx)">clear</mat-icon>
            </button>
          </div>
          <div fxFlex>
            <ng-select class="ng-select" [items]="previewedDataColumns" [multiple]="false" [hideSelected]="true"
              bindLabel="value" appendTo="body" placeholder="Select column" [(ngModel)]="mappings[idx]">
            </ng-select>
          </div>
          <div fxFlex>
            <div fxFlex id="removablePropertyFields">
              <mat-form-field style="width: 100%;">
                <input matInput placeholder="New name" id="{{'mapping'+idx}}" [(ngModel)]="mappings[idx+1]">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button class="btn btn-primary btn-sm" (click)="addMapping()">Add mapping pair</button>
    <br>
    <br>
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Comment" [(ngModel)]="docstring">
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="resetModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>