<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Add rows</h3>
  <div class="modal-body">
    <div class="row" *ngFor="let header of previewedDataColumns; let idx = index">
      <div class="col-xs-4">
        <label> {{header}}:</label>
      </div>
      <div class="col-xs-6">
        <input type="text" id="{{'header'+idx}}" [(ngModel)]="values[idx]" size="60">
      </div>
    </div>
    <br>
    <!--     <div class="row">
      <div class="col-xs-4">
        <label>Position:</label>
      </div>
      <div class="col-xs-6">
        <input type="text" min="0" [(ngModel)]="position" placeholder="insert row at given index" size="60">
      </div>
    </div>
    <br> -->
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Comment" [(ngModel)]="docstring">
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>