<h1 mat-dialog-title *ngIf="!isColumnReconciled">Column Reconciliation</h1>
<h1 mat-dialog-title *ngIf="isColumnReconciled">Column Extension</h1>
<div mat-dialog-content>

  <div class="form-group" *ngIf="isColumnReconciled">
    <label class="required">Select properties: </label>
    <tag-input [(ngModel)]="selectedProperties"
               [onlyFromAutocomplete]="true"
               [placeholder]="'+ Property'"
               [secondaryPlaceholder]="'Property'"
               *ngIf="isColumnReconciled">
      <tag-input-dropdown [autocompleteObservable]='extensionProperties'
                          [identifyBy]="'name'" [displayBy]="'name'"></tag-input-dropdown>
    </tag-input>
  </div>

  <form #configForm="ngForm" *ngIf="!isColumnReconciled">
    <section class="form-block">
      <div class="form-group">
        <label class="required" for="service-group">Service group: </label>
        <div class="select">
          <select id="service-group"
                  name="service-group"
                  [(ngModel)]="selectedGroup"
                  (change)="selectedService = undefined">
            <option *ngFor="let group of servicesGroups()" [value]="group">{{group}}</option>
          </select>
        </div>
      </div>

      <div class="form-group" *ngIf="selectedGroup">
        <label for="service">Services: </label>
        <div class="select">
          <select id="service"
                  name="service"
                  [(ngModel)]="selectedService">
            <option *ngFor="let service of servicesByGroup(selectedGroup)" [value]="service.getId()">{{service.getName()}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="column-name">New column name</label>
        <input type="text" id="column-name" placeholder="{{header}}_{{selectedGroup}}" size="45"
               [(ngModel)]="newColumnName" name="newColumnName">
      </div>
    </section>
  </form>

  <div id="preview" *ngIf="showPreview">

    <h3> Preview </h3>
    <clr-datagrid *ngIf="!isColumnReconciled">
      <clr-dg-column>Original value</clr-dg-column>
      <clr-dg-column>Reconciled entity</clr-dg-column>
      <clr-dg-column>Reconciled entity name</clr-dg-column>
      <clr-dg-column>Score</clr-dg-column>

      <clr-dg-row *ngFor="let mapping of reconciledData">
        <clr-dg-cell>{{mapping.originalQuery}}</clr-dg-cell>
        <clr-dg-cell *ngIf="mapping.results.length > 0;else empty_cell"><a href="{{mapping.results[0].id}}" target="_blank">{{mapping.results[0].id}}</a></clr-dg-cell>
        <clr-dg-cell *ngIf="mapping.results.length > 0;else empty_cell">{{mapping.results[0].name}}</clr-dg-cell>
        <clr-dg-cell *ngIf="mapping.results.length > 0;else empty_cell">{{mapping.results[0].score}}</clr-dg-cell>
      </clr-dg-row>
      <ng-template #empty_cell></ng-template>
      <clr-dg-footer>Reconciled {{validMappingsCount}} out of {{reconciledData.length}} unique values</clr-dg-footer>
    </clr-datagrid>

    <clr-datagrid *ngIf="isColumnReconciled">
      <clr-dg-column>{{header}}</clr-dg-column>
      <clr-dg-column *ngFor="let prop of selectedProperties">{{prop.value}}</clr-dg-column>

      <clr-dg-row *ngFor="let extension of extensionData">
        <clr-dg-cell>{{extension.id}}</clr-dg-cell>
        <clr-dg-cell *ngFor="let prop of selectedProperties">
          <span *ngIf="extension.properties.get(prop.value).length > 0 && extension.properties.get(prop.value)[0]['str']"> {{extension.properties.get(prop.value)[0]['str']}}</span>
          <span *ngIf="extension.properties.get(prop.value).length > 0 && extension.properties.get(prop.value)[0]['name']"> {{extension.properties.get(prop.value)[0]['name']}}</span>
        </clr-dg-cell>

      </clr-dg-row>
    </clr-datagrid>

  </div>

</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-sm btn-link" mat-dialog-close>Discard</button>
  <button mat-button class="btn btn-sm btn-link" [disabled]="!selectedService" (click)="reconcile()" cdkFocusInitial *ngIf="!isColumnReconciled">Reconcile</button>
  <button mat-button class="btn btn-sm btn-link" [disabled]="selectedProperties.length === 0" (click)="extend()" cdkFocusInitial *ngIf="isColumnReconciled">Extend</button>
  <button mat-button class="btn btn-sm btn-link" (click)="submit()" *ngIf="showPreview">Apply</button>
</div>
