<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Derive Column</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Name of new column" [(ngModel)]="newColName">
      </mat-form-field>
      <br>
      <ng-select class="ng-select" [items]="previewedDataColumns" [multiple]="true" [hideSelected]="true"
        bindLabel="value" appendTo="body" placeholder="Select column" [(ngModel)]="colsToDeriveFrom"></ng-select>
      <br>
      <div *ngIf="functionsToDeriveWith.length">
        <div *ngFor="let functionWithArgs of functionsToDeriveWith; let id = index">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="20px">
              <!--               <div fxFlex="5">
                <button class="btn btn-link btn-icon-link" id="btn-remove"
                  [disabled]="functionsToDeriveWith.length === 1">
                  <mat-icon size="22" (click)="removeFunction(id)">clear</mat-icon>
                </button>
              </div> -->
              <div fxFlex="50">
                <ng-select class="ng-select" [items]="customFunctions" [multiple]="false" [hideSelected]="true"
                  bindLabel="name" appendTo="body" placeholder="Select custom function"
                  [(ngModel)]="functionWithArgs.funct">
                </ng-select>
              </div>
            </div>
            <div *ngIf="functionWithArgs.functParams">
              <div fxLayout="row" id="params" fxLayoutGap="30px">
                <div *ngFor="let param of functionWithArgs.getParams(); let idx = index">
                  <div fxFlex>
                    <mat-form-field style="width: 100%;">
                      <input matInput placeholder="{{'input parameter: '+param}}"
                        [(ngModel)]="functionWithArgs.functParams[idx]" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div fxLayout="column">
        <!--         <div fxFlex>
          <button class="btn btn-primary btn-sm" (click)="addFunctionWithArgs()">Add function</button>
        </div>
        <br> -->
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Comments" [(ngModel)]="docstring">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>