.disableContentOverlay {
    display: block; 
    z-index:1001;
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: #fafafa; 
    opacity:.40; 
    filter: alpha(opacity=00); 
}