<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Take columns</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <div class="toggle-switch">
        <input [(ngModel)]="take" type="checkbox" id="toggle_1">
        <label for="toggle_1">{{take?"Take only listed columns":"Take all columns EXCEPT of listed"}}</label>
      </div>
      <br>
      <div class="radio">
        <input type="radio" [(ngModel)]="takecolumnsmode" name="mode" value="colnames" id="mode_1">
        <label for="mode_1">Specify column names</label>
      </div>
      <div class="radio">
        <input type="radio" [(ngModel)]="takecolumnsmode" name="mode" value="indices" id="mode_2">
        <label for="mode_2">Specify range of column indices</label>
      </div>
      <br>
      <div *ngIf="takecolumnsmode=='indices'" fxLayout="row" fxLayoutGap="60px">
        <div fxFlex>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="From index" [(ngModel)]="indexFrom">
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="To index" [(ngModel)]="indexTo">
          </mat-form-field>
        </div>
      </div>
      <br>
    </div>
    <div *ngIf="takecolumnsmode=='colnames'">
      <ng-select class="ng-select" [items]="previewedDataColumns" [multiple]="true" [hideSelected]="true" bindLabel="value" appendTo="body"
        placeholder="Select columns to take" [(ngModel)]="columnsArray"></ng-select>
      <br>
    </div>
    <br>
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Comments" [(ngModel)]="docstring">
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>