<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false">
  <h3 class="modal-title">Take columns</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <div class="toggle-switch">
        <input [(ngModel)]="take" type="checkbox" id="toggle_1">
        <label for="toggle_1">{{take?"Take only listed columns":"Take all columns EXCEPT of listed"}}</label>
      </div>
      <br>
      <div class="radio">
        <input type="radio" [(ngModel)]="takecolumnsmode" name="mode" value="colnames" id="mode_1">
        <label for="mode_1">Specify column names</label>
      </div>
      <div class="radio">
        <input type="radio" [(ngModel)]="takecolumnsmode" name="mode" value="indices" id="mode_2">
        <label for="mode_2">Specify range of column indices</label>
      </div>
      <div fxLayout="row" fxLayoutGap="60px">
        <div fxFlex>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Index from" [(ngModel)]="indexFrom">
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Move to index" [(ngModel)]="indexTo">
          </mat-form-field>
        </div>
      </div>
      <br>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Comments" [(ngModel)]="docstring">
      </mat-form-field>
      <br>
    </div>
    <div *ngIf="takecolumnsmode=='colnames'">
      <label for="colnames">Column names:</label>
      <tag-input id="tag" [(ngModel)]="columnsArray" [ngModelOptions]="{standalone: true}" [identifyBy]="'id'" [displayBy]="'value'"
        [placeholder]="'Select columns'" [secondaryPlaceholder]="'Select columns'" size="150" [onlyFromAutocomplete]="true"
        [dragZone]="items" [ripple]="false" theme='minimal' (onFocus)="setVisibleDropDown()">
        <tag-input-dropdown id="tag" [hidden]="!visible" [focusFirstElement]="true" [showDropdownIfEmpty]="true" [keepOpen]="false"
          [appendToBody]="false" [limitItemsTo]="3" [autocompleteItems]="previewedDataColumns" [identifyBy]="'id'" [displayBy]="'value'">
        </tag-input-dropdown>
      </tag-input>
    </div>
    <div *ngIf="takecolumnsmode=='indices'">
      <label for="indexfrominput">Index from:</label>
      <input type="number" id="indexfrominput" [(ngModel)]="indexFrom" size="25">

      <label for="indextoinput">Index to:</label>
      <input type="number" id="indextoinput" [(ngModel)]="indexTo" size="25">
    </div>
    <br>
    <div>
      <label for="comment">Comment:</label>
      <input type="text" id="comment" [(ngModel)]="docstring" size="125">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>