<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false">
  <h3 class="modal-title">Apply custom function to pipeline</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <ng-select class="ng-select" [items]="customFunctions" [multiple]="false" [hideSelected]="true" bindLabel="name"
        appendTo="body" placeholder="Select custom function" [(ngModel)]="selectedCustomFunction"></ng-select>
      <div *ngFor="let param of functionName.functParams; index as i; ">
        <mat-form-field style="width: 30%;">
          <input matInput placeholder="Parameter" [(ngModel)]="functParams[i]">
        </mat-form-field>
      </div>
      <br>
      <div fxLayout="column">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Comments" [(ngModel)]="docstring">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>