<div style="text-align: center" [hidden]="!dataLoading">
  <span class="spinner spinner-lg" style="margin-top: 200px">
    Loading...
  </span>
</div>
<div class="btn-group" [hidden]="dataLoading">
  <button [clrLoading]="saveLoading" class="btn btn-info-outline" (click)="saveAnnotation()" [disabled]="saveButtonDisabled">
    <clr-icon shape="floppy"></clr-icon> Create graph
  </button>
  <clr-dropdown>
    <button [clrLoading]="retrieveRDFLoading" type="button" class="btn btn-info-outline" [disabled]="rdfButtonDisabled" clrDropdownTrigger>
      <clr-icon shape="download"></clr-icon>
      Create RDF triples
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
      <label class="dropdown-header">Formats</label>
      <button type="button" clrDropdownItem (click)="retrieveRDF('nt')" >.nt</button>
      <button type="button" clrDropdownItem (click)="retrieveRDF('ttl')" >.ttl</button>
      <button type="button" clrDropdownItem (click)="retrieveRDF('rdf')" >.rdf</button>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>
<div id="handsontable" [hidden]="dataLoading"></div>
