<h1 mat-dialog-title>Add entity</h1>
<div mat-dialog-content>

  <form class="addEntityDialog-form" [formGroup]="addEntityForm">

    <mat-form-field class="full-width">
      <input matInput placeholder="Entity Identifier" formControlName="id">
      <span matPrefix>{{identifierSpace}}&nbsp;</span>
      <mat-error *ngIf="addEntityForm.get('id').hasError('required')">
        Id is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Entity name (label)" formControlName="name">
      <mat-error *ngIf="addEntityForm.get('name').hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-sm btn-link" mat-dialog-close><span class="red"> Discard </span></button>
  <button mat-button class="btn btn-sm btn-link" [disabled]="addEntityForm.invalid" (click)="submit()">
    Apply
  </button>
</div>

