<h1 mat-dialog-title>Column Reconciliation</h1>
<div mat-dialog-content>

  <form #configForm="ngForm">
    <section class="form-block">
      <div class="form-group">
        <label class="required" for="service-group">Service group: </label>
        <div class="select">
          <select id="service-group"
                  name="service-group"
                  [(ngModel)]="selectedGroup"
                  (change)="updateServicesForSelectedGroup();">
            <option *ngFor="let group of servicesGroups" [value]="group">{{group}}</option>
          </select>
        </div>
      </div>

      <div class="form-group" *ngIf="selectedGroup">
        <label for="service">Services: </label>
        <div class="select">
          <select id="service"
                  name="service"
                  [(ngModel)]="selectedService">
            <option *ngFor="let service of servicesForSelectedGroup" [value]="service.getId()">{{service.getName()}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="column-name">New column name</label>
        <input type="text" id="column-name" placeholder="{{header}}_{{selectedService}}" size="45"
               [(ngModel)]="newColumnName" name="newColumnName">
      </div>
    </section>
  </form>

  <div id="preview" *ngIf="showPreview">

    <h3> Preview </h3>
    <div *ngIf="guessedType != null">Inferred type: <a href="{{services.get(selectedService).getSchemaSpace()}}{{guessedType.id}}" class="label label-orange clickable" target="_blank">{{guessedType.name}}</a></div>
    <clr-datagrid [clrDgLoading]="dataLoading">
      <clr-dg-column>Original value</clr-dg-column>
      <clr-dg-column>Reconciled entity</clr-dg-column>
      <clr-dg-column>Reconciled entity name</clr-dg-column>
      <clr-dg-column>Score</clr-dg-column>

      <clr-dg-row *ngFor="let mapping of reconciledData">
        <clr-dg-cell>{{mapping.originalQuery}}</clr-dg-cell>
        <clr-dg-cell *ngIf="mapping.results.length > 0;else empty_cell"><a href="{{services.get(selectedService).getIdentifierSpace()}}{{mapping.results[0].id}}" target="_blank">{{mapping.results[0].id}}</a></clr-dg-cell>
        <clr-dg-cell *ngIf="mapping.results.length > 0;else empty_cell">{{mapping.results[0].name}}</clr-dg-cell>
        <clr-dg-cell *ngIf="mapping.results.length > 0;else empty_cell">{{mapping.results[0].score}}</clr-dg-cell>
      </clr-dg-row>
      <ng-template #empty_cell></ng-template>
      <clr-dg-footer>Reconciled {{validMappingsCount}} out of {{reconciledData.length}} unique values</clr-dg-footer>
    </clr-datagrid>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-sm btn-link" mat-dialog-close>Discard</button>
  <button mat-button class="btn btn-sm btn-link" [disabled]="!selectedService || dataLoading" (click)="reconcile()" cdkFocusInitial>Reconcile</button>
  <button mat-button class="btn btn-sm btn-link" [disabled]="dataLoading" (click)="submit()" *ngIf="showPreview">Apply</button>
</div>
