.tooltip.tooltip-validation.invalid > input:focus ~ .tooltip-content {
  background: #c92100;
  visibility: visible;
  opacity: 1; }

.tooltip.tooltip-validation.invalid > input:focus ~ .tooltip-content,
.tooltip.tooltip-validation.invalid.tooltip-top-right > input:focus ~ .tooltip-content,
.tooltip.tooltip-validation.invalid.tooltip-bottom-right > input:focus ~ .tooltip-content {
  left: 100%;
  right: auto;
  margin-left: -0.58333rem; }

.tooltip.tooltip-validation.invalid.tooltip-top-left > input:focus ~ .tooltip-content,
.tooltip.tooltip-validation.invalid.tooltip-bottom-left > input:focus ~ .tooltip-content {
  right: 0;
  left: auto;
  margin-right: 0.58333rem; }

.tooltip.tooltip-validation.invalid.tooltip-left > input:focus ~ .tooltip-content {
  right: 100%;
  left: auto;
  margin: 0 0.58333rem 0 0; }
.tooltip.tooltip-validation.invalid.tooltip-left > input:focus ~ .tooltip-content::before {
  border-top-color: #c92100;
  border-left-color: #c92100;
  border-bottom-color: transparent;
  border-right-color: transparent; }

.tooltip.tooltip-validation.invalid.tooltip-right > input:focus ~ .tooltip-content {
  left: 100%;
  right: auto;
  margin: 0 0 0 0.58333rem; }
.tooltip.tooltip-validation.invalid.tooltip-right > input:focus ~ .tooltip-content::before {
  border-top-color: #c92100;
  border-right-color: #c92100;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.mat-dialog-title{
margin-bottom: 5px;
}
span.red{
  color:red;
}

table {
  width: 100%;
 }
div.table-container{
  width: 100%;
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.ridge {
  border-style: ridge;
}

 mat-accordion{
   width: 600px;
   margin-right: 0;
 }

 .mat-form-field {
   font-size: 14px;
   width: 100%;
 }
mat-icon{
  padding:0;
  margin:0;
}

.mat-table {
  min-width: 100%;
  width: max-content;
}

.mat-header-row{
  height: 15px;
}

hr{
  margin:1px;
}
div.col_1{
  float:left;
  display: inline;

  width: 50%;
}
div.col_2{
  float:left;
  display: inline;

  width: 50%;
}

div.search{
  float:left;
  display: inline;
  width: 35%;

}
div.matchedButton{
  margin:0;
  float:left;
  display: inline;
  width: 35%;


}
mat-dialog-actions{
    margin:0;
    padding:0;
    width: 100%;
    text-align: center;

}
button.custom-width{
  width: 50%;
  margin-left: 25%;
  margin-right:25%;
  margin-top:0;
  margin-bottom:0;
  padding:1;

}
div.filter{
  float:left;
  display: inline;
  width: 30%;
}
div.preview_settings{
  width: 100%;
}

.preview {
  margin: 0.25rem 0;
}


div.threshold{
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}
div.action_table{
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

div.entity_reconciled_name{
  padding-right: 10px;
}

div.entity_reconciled_icon{
  float:left;
  display: inline;
}

mat-panel-title{
  margin:0px;
  padding:0px;
}
mat-expansion-panel-header{
  margin:0px;
  padding:3px;
}

span.left_margin{
  margin-left: 3px;
}

div.icons{
  width: 100%;
  padding-left: 15%;
}
div.specific_icon{
  margin-right: 6%;
  display: inline;
  float:left;
}
span.setMatchingHeader{
  margin-left: 15px;

}
span.setMatching{
  margin-left: 20px;
  cursor : pointer;
}
