<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Merge columns</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Name of new column" [(ngModel)]="newColName">
      </mat-form-field>
      <br>
      <ng-select class="ng-select" [items]="previewedDataColumns" [multiple]="true" [hideSelected]="true" bindLabel="value" appendTo="body"
        placeholder="Select columns to merge" [(ngModel)]="colsToMerge"></ng-select>
      <br>
      <mat-form-field style="width: 100%; padding-bottom: 25px;">
        <input matInput placeholder="Separator" [(ngModel)]="separator">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Comments" [(ngModel)]="docstring">
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
    </div>
  </div>
</clr-modal>