<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title">Edit custom functions</h3>
  <div class="modal-body container">
    <div class="row">
      <div class="listbox">
        <p-listbox [options]="functions" [(ngModel)]="selected" [style]="{'width':'250px'}" [listStyle]="{'height':'340px'}">
          <ng-template let-cf let-i="index" pTemplate="item">
            <div class="ui-helper-clearfix">
              <span>{{cf.label}}</span>
              <button *ngIf="cf.value==selected" class="btn  btn-link btn-icon btn-sm" style="float:right" (click)="removeFunction(i)">
                <clr-icon shape="times" size="18" style="fill:white"></clr-icon>
              </button>
            </div>
          </ng-template>
        </p-listbox>
      </div>
      <div class="editor">
        <ngx-codemirror #editor [(ngModel)]="selected.clojureCode" [config]="configurationObject" (ngModelChange)="onCodeChange($event)"></ngx-codemirror>
      </div>
      <clr-alert *ngIf="nameWarning" [clrAlertType]="'alert-warning'" [clrAlertClosable]="false" (clrAlertClosedChange)="onClose()">
        <div class="alert-item">
          <span class="alert-text">
            A function already exists with the same name
          </span>
        </div>
      </clr-alert>
    </div>
    <button class="btn btn-icon btn-primary" (click)="addFunction()">Add function</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>
