<div layout="column" *ngFor="let val of function.values; let idx = index">
  <div class="row ">
    <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-left">
    <button class="btn btn-link btn-icon-link" *ngIf="!colnames">
        <clr-icon  shape="remove" size="22"  (click)="removeColumn(idx)"></clr-icon>

    </button>
   <span class="tooltip-content">Remove column</span>
    </span>
    <div class="removablePropertyName">
      <label for="{{'colname'+idx}}">{{!colnames?  collabels[idx] : colnames[idx] }}</label>
      <input type="text" id="{{'colname'+idx}}" (change)="colChange()" [(ngModel)]="function.values[idx]" size="25">

    </div>


  </div>
</div>
<button class="btn btn-primary" *ngIf="!colnames" (click)="addColumn()">More columns</button>
<div>
  <label for="comment">Comment:</label>
  <input type="text" id="comment" (change)="colChange()" [(ngModel)]="function.docstring" placeholder="Comment" size="125">

</div>

<!--div layout="row">
    <md-button class="md-primary button-tight md-default-theme" ng-disabled="function.functionsToDeriveWith.length === 1 || $root.readonlymode || (colnames.length > 0)"
      ng-click="removeField($index)" aria-label="Remove field">
      <i class="fa fa-trash fa-lg"></i>
    </md-button>
    <md-input-container>
      <label>{{(colnames.length === 0) ? ("Field "+ $index) : colnames[$index].value}}</label>
      <input ng-model="function.values[$index]" type="text" required ng-readonly="$root.readonlymode">
    </md-input-container>
  </div>
</div>
<md-button class="md-raised" style="width:50px" ng-click="addField()" aria-label="Add field" ng-disabled="$root.readonlymode ||  (colnames.length > 0)">Add field </md-button>
<md-input-container class="md-block" flex>
  <label>Comment</label>

  <input ng-model="function.docstring" type="text" ng-readonly="$root.readonlymode">
</md-input-container-->