<div class="row">


  <div class="col-xs" *ngIf="!function">

    <sui-accordion [closeOthers]="false">
      <sui-accordion-panel [isOpen]="true">
        <div title>
        </div>
        <div content *ngFor="let pipelineFunction of functions | pipelineFunctionFilter:'none'">

          <button (click)="onSelect(pipelineFunction)" class="btn btn-link btn-sm">{{pipelineFunction.displayName}}</button>
        </div>
      </sui-accordion-panel>
      <sui-accordion-panel [isOpen]="false">

        <div title>
          <i class="dropdown icon"></i> Operations on Columns
        </div>
        <div content *ngFor="let pipelineFunction of functions | pipelineFunctionFilter:'column'">
          <button (click)="onSelect(pipelineFunction)" class="btn btn-link btn-sm">{{pipelineFunction.displayName}}</button>
        </div>
      </sui-accordion-panel>
      <sui-accordion-panel [isOpen]="false">

        <div title>
          <i class="dropdown icon"></i> Operations on Rows
        </div>
        <div content *ngFor="let pipelineFunction of functions | pipelineFunctionFilter:'row'">
          <button (click)="onSelect(pipelineFunction)" class="btn btn-link btn-sm">{{pipelineFunction.displayName}}</button>
        </div>
      </sui-accordion-panel>
      <sui-accordion-panel [isOpen]="true">
        <div title>
        </div>
        <div content *ngFor="let pipelineFunction of functions | pipelineFunctionFilter:'utility'">

          <button (click)="onSelect(pipelineFunction)" class="btn btn-link btn-sm">{{pipelineFunction.displayName}}</button>
        </div>
      </sui-accordion-panel>

    </sui-accordion>
  </div>
  <div class="col-xs  pipelineFunctionDialog">

    <!--add-columns-function [transformation]="transformation" ng-if="selectedFunctionName ==='add-columns'"></add-columns-function>
      <columns-function transformation="transformation" ng-if="selectedFunctionName === 'columns'"></columns-function>
      <derive-column-function transformation="transformation" ng-if="selectedFunctionName === 'derive-column'" ></derive-column-function>
      <merge-columns-function transformation="transformation" ng-if="selectedFunctionName === 'merge-columns'" ></merge-columns-function>
      <shift-row-function transformation="transformation" ng-if="selectedFunctionName === 'shift-row'"></shift-row-function>
      <shift-column-function transformation="transformation" ng-if="selectedFunctionName === 'shift-column'"></shift-column-function>
      <add-row-function transformation="transformation" ng-if="selectedFunctionName === 'add-row'"></add-row-function>
      <group-rows transformation="transformation" ng-if="selectedFunctionName === 'group-rows'"></group-rows>
      <drop-rows-function transformation="transformation" ng-if="selectedFunctionName === 'drop-rows'"></drop-rows-function>
      <grep-function transformation="transformation" ng-if="selectedFunctionName === 'grep'"></grep-function-->
    <make-dataset [function]="function" (newfunction)="newFunctionChanged($event)" *ngIf="selectedFunctionName === 'make-dataset'"></make-dataset>
    <!--sort-dataset transformation="transformation" ng-if="selectedFunctionName === 'sort-dataset'"></sort-dataset>
      <remove-duplicates transformation="transformation" ng-if="selectedFunctionName === 'remove-duplicates'"></remove-duplicates>
      <mapc-function transformation="transformation" ng-if="selectedFunctionName === 'mapc'"></mapc-function>
      <melt-function transformation="transformation" ng-if="selectedFunctionName === 'melt'"></melt-function>
      <rename-columns-function transformation="transformation" ng-if="selectedFunctionName === 'rename-columns'"></rename-columns-function>
      <split-function transformation="transformation" ng-if="selectedFunctionName === 'split'"></split-function>
      <utility-function transformation="transformation" ng-if="selectedFunctionName === 'utility'"></utility-function>
      <fill-rows-function transformation="transformation" ng-if="selectedFunctionName === 'fill-rows'"></fill-rows-function>
      <merge-rows-function transformation="transformation" ng-if="selectedFunctionName === 'merge-rows'"></merge-rows-function>
        
      <upload-dataset transformation="transformation" ng-if="selectedFunctionName === 'upload-dataset'"></upload-dataset-->


  </div>
</div>