
.sin-functions-list {
  text-align: left;
  border-radius: 0;
  margin: 0;
  
  line-height: 20px;

}


.sin-functions-list  clr-stack-content {
padding-left: -20px;
}

.sin-functions-list clr-stack-block {

 flex: 0; 
 line-height: 20px;
padding-left: -20px;
    
}
.pipelineFunctionDialog{
  min-height: 110px;
  flex-basis:55%;
  padding: 15px 10px 0 10px ;
}

.pipelineStepDialog{
  flex:40% 0;
}