.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.pipeline {
  margin: 0 0em 5em 0;
  list-style-type: none;
  padding: .5em;
  width: 20em;
}
.pipeline li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .9em;
  padding: .3em .8em;
  height: 1.6em;
  border-radius: 4px;
  
}
.pipeline li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.pipeline li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.pipeline .text {
  position: relative;
  top: -3px;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}