<ul class="pipeline">
    <div class="row" *ngFor="let pipelineFunction of pipeline.functions">
        <li class="col-xs" [class.selected]="pipelineFunction.isPreviewed" (click)="clickEditFunction(pipelineFunction)">
            {{pipelineFunction.name}}
        </li>
        <div class="btn-group btn-link btn-icon-link">
            <button class="btn" *ngIf="pipelineFunction.isPreviewed">
        <clr-icon shape="eye"></clr-icon>
        <span class="clr-icon-title">Preview until this step</span>
    </button>
            <button class="btn" *ngIf="!pipelineFunction.isPreviewed">
        <clr-icon shape="eye-hide"></clr-icon>
        <span class="clr-icon-title">Reset preview</span>
    </button>
            <button class="btn" (click)="addFunctionAfter(pipelineFunction)">
        <clr-icon shape="add"></clr-icon>
        <span class="clr-icon-title">Add new pipeline function after the current</span>
    </button>
            <button class="btn">
        <clr-icon shape="remove" (click)="deleteModal = true"></clr-icon>
        <span class="clr-icon-title">Remove the current pipeline function</span>
    </button>

        </div>
    </div>

</ul>


<clr-modal [(clrModalOpen)]="addFunction || editFunction" [clrModalSize]="'lg'">

    <h3 class="modal-title">Edit {{(selectedStep?selectedStep.name:"")}} function</h3>
    <div class="modal-body">
        <clr-alert [clrAlertClosable]="false" [clrAlertType]="'alert-warning'" *ngIf="noNewFunction">
            <div clr-alert-item class="alert-item">
                <span class="alert-text">
            Please create a function
        </span>
            </div>
        </clr-alert>
        <pipeline-step [function]="selectedStep" (newFunction)="addedFunction($event)"></pipeline-step>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="addOrEditModalCancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addOrEditModalOk()">Ok</button>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="deleteModal">
    <h3 class="modal-title">Are you sure you want to remove this element?</h3>
    <div class="modal-body">
        <p>Please confirm that you want to remove the element.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="deleteModal = false">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="removeFunction(pipelineFunction)">Delete</button>
    </div>
</clr-modal>