<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Split column</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <ng-select class="ng-select" [items]="previewedDataColumns" [multiple]="false" [hideSelected]="true" bindLabel="value" appendTo="body"
        placeholder="Select column to split" [(ngModel)]="colName"></ng-select>
      <br>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Separator" [(ngModel)]="separator">
      </mat-form-field>
      <mat-form-field style="width: 100%; padding-top: 25px;">
        <input matInput placeholder="Comments" [(ngModel)]="docstring">
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>