<clr-modal [(clrModalOpen)]="modalEnabled">
  <h3 class="modal-title">Split column</h3>
  <div class="modal-body">
    <div class="select">
      <select id="form-group-3" name="form-group-dropdown" [(ngModel)]="colName">
        <option *ngFor="let header of previewedDataColumns" [ngValue]="header">{{header.value}}</option>
      </select>
    </div>
    <br>
    <label for="sep">Separator:</label>
    <input type="text" id="sep" [(ngModel)]="separator" size="25">
    <br>
    <div>
      <br>
      <label for="comment">Comment:</label>
      <input type="text" id="comment" [(ngModel)]="docstring" size="125">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>