<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Take rows</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <div class="toggle-switch">
        <input [(ngModel)]="take" type="checkbox" id="toggle">
        <label for="toggle">{{take?"Take rows":"Drop rows"}}</label>
      </div>
      <br>
      <div fxLayout="row" fxLayoutGap="60px">
        <div fxFlex>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Index from" [(ngModel)]="indexFrom">
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Move to index" [(ngModel)]="indexTo">
          </mat-form-field>
        </div>
      </div>
      <br>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Comments" [(ngModel)]="docstring">
      </mat-form-field>
      <br>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>