mat-form-field{
  padding:0;
  margin:0;
}
div.weather-parameters{
  float:left;
  display: inline;
  margin: 0;
}
div.weather-offset{
  float:left;
  display: inline;
  margin: 0;
}
li.bottom-margin{
  margin-bottom: 2px;
}

span.round {
  border: 1px solid ;
  padding: 5px;
  border-radius: 15px;
  margin-right: 5px;
  width:35px;
  text-align: center;
}
span.fcode{
  color:red;
  margin-left: 5%;
}
span.toponymName{
  margin-left: 5%;
}
li.suggestions{
  margin-top: 5px;
}
div.suggestions
{
  margin-left: 5%;
}
div.country
{
  margin-top: 3px;
  background-color: red;

}

div.c1{
    padding: 0;
    overflow-y: scroll;
    max-height:200px;

}
mat-option.option_suggestions {
  height: auto;
  font-size: 12px;
}
hr{
  margin:0px;

}
.chip-list{
  width: 80%;
  margin-left: 5%;
}
span.red{
  color:red;
}
