.progressbar {
  padding-bottom: 5px;
}

.chart {
  position: relative;
  height: 350px;
}

.missingValues {
  color: white;
  font-weight: bold;
}

.dataDistribution {
  color: black;
  font-weight: bold;
}

md-grid-list {
  position: relative;
  z-index: +1;
  width: 1600px;
}

md-grid-tile {
  margin-left: 0px;
  margin-bottom: -30px;
}

.barChart {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.01rem;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding-top: 20px;
  padding-left: 80px;
}

.advancedPieChart {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 50%;
  line-height: 1.6rem;
  letter-spacing: 0.01rem;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin-top: -70px;
  margin-left: -280px;
}

#boxplot {
  width: 300px;
  height: 300px;
  padding-left: 190px;
  margin-top: 10px;
}

.datatable {
  line-height: 0.8rem;
  letter-spacing: 0.01rem;
  font-size: 0.6rem;
  width: 250px;
  height: 300px;
  padding-top: 15px;
  margin-left: -210px;
}
