.progressbar {
  padding-bottom: 5px;
}

.chart {
  position: relative;
  height: 350px;
}

.missingValues {
  color: white;
  font-weight: bold;
}

.dataDistribution {
  color: black;
  font-weight: bold;
}

md-grid-list {
  position: relative;
  z-index: +1;
  width: 1600px;
}

md-grid-tile {
  margin-left: 0px;
  margin-bottom: -30px;
}

.box {
  display: flex;
  align-items: center;
}

#barChart {
  font-size: 0.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.01rem;
  color: #212121;
  padding-left: 120px;  
  padding-top: 60px;    
}

#advancedPieChart {
  line-height: 1.4rem;
  letter-spacing: 0.01rem;
  color: #212121;  
  margin-top: -30px;  
  padding-left: 50px;    
}

#plotly-boxplot {
  padding-left: 90px;
  margin-top: -20px;    
}

#datatable {
  line-height: 0.6rem;
  letter-spacing: 0.01rem;
  font-size: 0.6rem;
  color: #212121;  
  width: 250px;
  height: 300px;
  margin-left: -230px;
}
