<ngl-form-element class="slds-m-top--small">
  <input nglFormControl type="text" placeholder="Column header" (keyup.enter)="getHeader($event.target.value)">
</ngl-form-element>

<div *ngIf="header" id="visual-container">

  <div fxFlex="100%" [fxLayout]="direction" class="innerContainer">

    <div fxFlex="33%" class="chart">
        <adv-pie-chart (done)='onPiechartDone()' [chartData]="chartData"></adv-pie-chart> 
        <!-- <filled-piechart (done) ='onPiechartDone()' [chartData] = "column" ></filled-piechart>  -->
        <!-- <line-chart (done)='onPiechartDone()' [chartData]="lineChartData"></line-chart>  -->
        <!-- <stacked-bar-chart [chartData]="lineChartData" (done)="onPiechartDone()"> </stacked-bar-chart>  -->
    </div>

    <!-- <div fxFlex="10%" class="chart">
      <statistic-table *ngIf="pieChartDone" (done)="onStatisticsDone()" [column] = "column"></statistic-table>
    </div> -->

    <div fxFlex="33%" class="chart">
      <histogram  (done)="onHistogramDone()" [header] = "header" [column] = "column"></histogram>
    </div>

    <div fxFlex="33%" class="chart">
     <boxplot  [column] = "column" ></boxplot>
    </div>

  </div>

</div>

