<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Shift column</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <form action="colmode">
        <div class="radio">
          <input type="radio" [(ngModel)]="shiftcolmode" name="mode" value="position" id="mode_1">
          <label for="mode_1">Shift to index</label>
        </div>
        <div class="radio">
          <input type="radio" [(ngModel)]="shiftcolmode" name="mode" value="eods" id="mode_2">
          <label for="mode_2">Shift to the rightmost position</label>
        </div>
      </form>
      <br>
      <ng-select class="ng-select" [items]="previewedDataColumns" [multiple]="false" [hideSelected]="true" bindLabel="value" appendTo="body"
        placeholder="Select column to move" [(ngModel)]="colFrom"></ng-select>
      <div id="colmode-position" *ngIf="shiftcolmode=='position'">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Move to index" [(ngModel)]="indexTo">
        </mat-form-field>
      </div>
      <br>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Comments" [(ngModel)]="docstring">
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>