<h1 mat-dialog-title>ABSTAT Suggestions Configurator</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Suggester</mat-label>
    <mat-select [(value)]="suggester" (selectionChange)="update()">
      <mat-option *ngFor="let sugg of suggesters" [value]="sugg">
        {{sugg  | uppercase}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dataset language</mat-label>
    <mat-select [(value)]="language">
      <mat-option *ngFor="let lang of languages" [value]="lang">
        {{lang | uppercase}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="chip-list">
    <mat-chip-list #chipList aria-label="Preferred summaries">
      <mat-chip
        *ngFor="let prefSummary of preferredSummaries"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(prefSummary)">
        {{prefSummary}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Preferred summaries"
        #summaryInput
        [formControl]="summaryCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let summ of filteredSummaries | async" [value]="summ">
        {{summ}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-sm btn-link" mat-dialog-close>Discard</button>
  <button mat-button class="btn btn-sm btn-link" (click)="save()" mat-dialog-close cdkFocusInitial>Save</button>
</div>
