<div class="main-container">

  <header class="header-6">
    <div class="branding" *ngIf="!isEmbedded">
      <a href="http://localhost:4200" class="nav-link">
        <img src="http://localhost:4200/assets/logo.png" height="24" width="48">
        <span class="title">
          <strong>Grafterizer 2.0</strong>
        </span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/{{url}}tabular-transformation" routerLinkActive="active" class="nav-link">
        <span class="nav-text">Tabular Transformation</span>
      </a>
      <a routerLink="/{{url}}rdf-mapping" routerLinkActive="active" class="nav-link">
        <span class="nav-text">RDF Mapping</span>
      </a>
      <a routerLink="/{{url}}tabular-annotation" routerLinkActive="active" class="nav-link">
        <span class="nav-text">Tabular Annotation</span>
      </a>
      <!--       <a routerLink="/transformation/new/data-exploration" routerLinkActive="active" class="nav-link">
      <span class="nav-text">Data Exploration</span>
      </a> -->
    </div>
    <div class="header-actions">
      <a href="javascript://" (click)="save()" title="Save" class="nav-link nav-icon">
        <clr-icon shape="floppy"></clr-icon>
      </a>
      <a href="javascript://" (click)="fork()" title="Copy" class="nav-link nav-icon">
        <clr-icon shape="copy"></clr-icon>
      </a>
      <a href="javascript://" (click)="download()" title="Download" class="nav-link nav-icon">
        <clr-icon shape="download"></clr-icon>
      </a>
      <a href="javascript://" (click)="delete()" title="Delete" class="nav-link nav-icon">
        <clr-icon shape="trash"></clr-icon>
      </a>
      <button mat-raised-button *ngIf="isEmbedded" (click)="goBack()" class="sin-datagraft-wizard-button">Back</button>
      <button mat-raised-button *ngIf="isEmbedded" (click)="openNextStepConfirmation()" class="sin-datagraft-wizard-button">Next step</button>
    </div>
  </header>
  <clr-alerts>
    <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false" [clrAlertAppLevel]="true" *ngFor="let error of globalErrors; let i = index">
      <div class="alert-item">
        <span class="alert-text">
          Woops - something went wrong! If the problem persists, try reloading the application.
          <br /> {{error.toString().substring(0,200) + " [...]"}}
        </span>
        <div class="alert-actions">
          <button class="btn alert-action" (click)="onClose(i)">Close</button>
        </div>
      </div>
    </clr-alert>
  </clr-alerts>
  <div class="content-container">
    <!-- Conditional CSS class attachment to the element -->
    <div [ngClass]="{'content-area-no-padding': router.url == '/tabular-transformation/new' || '/data-exploration'}">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="showConfirmNextStepDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Are you sure you want to continue?</h3>
  <div class="modal-body">
    <!-- <mat-progress-spinner [hidden]="fillingWizard" mode="indeterminate" diameter="50px" style="margin: auto;">
    </mat-progress-spinner> -->
    <div *ngIf="loadingNextStepMessage && fillingWizard">{{loadingNextStepMessage}}</div>
    <br/>
    <div *ngIf="!fillingWizard">{{nextStepDialogMessage}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancelNextStep()" [disabled]="fillingWizard">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="goNextStep()" [disabled]="fillingWizard">Confirm</button>
  </div>
</clr-modal>