
<div class="main-container">

<header class="header-6">
    <div class="branding">
        <a href="http://localhost:4200" class="nav-link">
            <img src="http://localhost:4200/assets/logo.png" height="24" width="48">
            <span class="title"><strong>Grafterizer 2.0</strong></span>
        </a>
    </div>
    <div class="header-nav">
        <a routerLink="/tabular-transformation" routerLinkActive="active" class="active nav-link"><span class="nav-text">Tabular Transformation</span></a>
        <a routerLink="/rdf-mapping" routerLinkActive="active" class="nav-link"><span class="nav-text">RDF Mapping</span></a>
        <a routerLink="/tabular-annotation" routerLinkActive="active" class="nav-link"><span class="nav-text">Tabular Annotation</span></a>        
    </div>
    <div class="header-actions">
        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav">
 <section class="sidenav-content">
            
<div class="row">
    <div class="col-xs">
         <span class="title"><strong>Suggested transformation</strong></span>
    </div>
</div>
 </section>
 <section class="sidenav-content">
<div class="row">
    <div class="col-xs">
        <span class="title"><strong>Pipeline steps</strong></span>
        <pipeline-steps [pipeline]="testPipeline"></pipeline-steps>
    </div>
</div>
 </section>

        </nav>
    </div>
</div>

