<div class="main-container">
  <header class="header-6">
    <div class="branding" *ngIf="!showWizardNavigation">
      <a href="/" class="nav-link">
        <img src="/assets/logo.png" height="24" width="48">
        <span class="title">
          <strong>Grafterizer 2.0</strong>
        </span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/{{grafterizerUrl}}tabular-transformation" routerLinkActive="active" class="nav-link">
        <span class="nav-text">Tabular Transformation</span>
      </a>
      <a routerLink="/{{grafterizerUrl}}rdf-mapping" routerLinkActive="active" class="nav-link">
        <span class="nav-text">RDF Mapping</span>
      </a>
      <a *ngIf="showTabularAnnotationTab" routerLink="/{{grafterizerUrl}}tabular-annotation" routerLinkActive="active"
        class="nav-link">
        <span class="nav-text">Tabular Annotation</span>
      </a>
      <!--       <a routerLink="/transformation/new/data-exploration" routerLinkActive="active" class="nav-link">
      <span class="nav-text">Data Exploration</span>
      </a> -->
    </div>
    <div class="header-actions">
      <a *ngIf="showSaveButton" href="javascript://" (click)="save(false)" title="Save" class="nav-link nav-icon">
        <clr-icon shape="floppy"></clr-icon>
      </a>
      <a *ngIf="showForkButton" href="javascript://" (click)="fork()" title="Copy" class="nav-link nav-icon">
        <clr-icon shape="copy"></clr-icon>
      </a>
      <a *ngIf="showDownloadButton" href="javascript://" (click)="showDownloadDialog = true" title="Download" class="nav-link nav-icon">
        <clr-icon shape="download"></clr-icon>
      </a>
      <a *ngIf="showDeleteButton" href="javascript://" (click)="showConfirmDeleteDialog = true" title="Delete" class="nav-link nav-icon">
        <clr-icon shape="trash"></clr-icon>
      </a>
      <button mat-raised-button *ngIf="showWizardNavigation" (click)="goBack()" class="sin-datagraft-wizard-button">Back</button>
      <button mat-raised-button *ngIf="showWizardNavigation" (click)="openNextStepConfirmation()" class="sin-datagraft-wizard-button">Next
        step</button>
    </div>
  </header>
  <clr-alerts>
    <clr-alert class="alerts" [clrAlertType]="'danger'" [clrAlertClosable]="false" [clrAlertAppLevel]="true" *ngFor="let error of globalErrors; let i = index">
      <div class="alert-item">
        <span class="alert-text">
          Woops - something went wrong! If the problem persists, try reloading the application.
          <br /> {{error.toString().substring(0,200) + " [...]"}}
        </span>
        <div class="alert-actions">
          <button class="btn alert-action" (click)="onClose(i)">Close</button>
        </div>
      </div>
    </clr-alert>
  </clr-alerts>
  <div class="content-container">
    <router-outlet></router-outlet>
    <div style="height: 100%" fxLayout="column" fxLayoutAlign="center center" [hidden]="!showLoading">
      <div class="spinner">
        <span class="spinner spinner-lg" fxflex>
          Loading...
        </span>
      </div>
    </div>
    <div *ngIf="showLoadDistributionDialog" class="load-distribution">
      <div id="btn">
        <button mat-fab (click)="loadDistribution()" matTooltip="Select an existing file from your DataGraft assets">
          <mat-icon aria-label="Upload a file locally from your computer">cloud</mat-icon>
        </button>
      </div>
      <div id="btn">
        <button mat-fab (click)="fileInput.click()" matTooltip="Upload a file locally from your computer">
          <mat-icon aria-label="Upload a file locally from your computer">folder_open</mat-icon>
          <input hidden type="file" id="fileSelect" #fileInput (change)="onFileChange($event)" />
        </button>
      </div>
    </div>
  </div>
</div>

<clr-modal *ngIf="showLoadDistributionDialog" [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Load existing file</h3>
  <div class="modal-body">
    <div fxLayout='column' fxLayoutAlign="left">
      <p-listbox [options]="distributionList" [(ngModel)]="selectedFile" (ngModelChange)="onChange($event)"
        [styleClass]="ui-state-active" [style]="{'width':'800px', 'background-color':'white', 'border':'1px solid grey'}"
        [listStyle]="{'height':'360px'}">
      </p-listbox>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showConfirmNextStepDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Are you sure you want to continue?</h3>
  <div class="modal-body">
    <div class="radio">
      <input type="radio" [(ngModel)]="transformationType" value="pipe" id="mode_1">
      <label for="mode_1">Save as file</label>
    </div>
    <div class="radio">
      <input type="radio" [(ngModel)]="transformationType" value="graft" id="mode_2">
      <label for="mode_2">Save as graph in a SPARQL endpoint</label>
    </div>
    <br>
    <!-- <mat-progress-spinner [hidden]="fillingWizard" mode="indeterminate" diameter="50px" style="margin: auto;">
    </mat-progress-spinner> -->
    <div>
      <div *ngIf="loadingNextStepMessage && fillingWizard">{{loadingNextStepMessage}}</div>
      <div *ngIf="!fillingWizard">{{nextStepDialogMessage}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancelNextStep()" [disabled]="fillingWizard">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="goNextStep()" [disabled]="fillingWizard">Confirm</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showDownloadDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Download</h3>
  <div class="modal-body">
    <div class="radio">
      <input type="radio" [(ngModel)]="downloadMode" value="csv" id="mode_1">
      <label for="mode_1">CSV</label>
    </div>
    <div class="radio">
      <input type="radio" [(ngModel)]="downloadMode" value="n-triples" id="mode_2">
      <label for="mode_2">N-Triples</label>
    </div>
    <div class="radio">
      <input type="radio" [(ngModel)]="downloadMode" value="JAR" id="mode_3">
      <label for="mode_3">JAR</label>
    </div>
    <div class="radio">
      <input type="radio" [(ngModel)]="downloadMode" value="arango-json" id="mode_4">
      <label for="mode_4">ArangoDB JSON collections</label>
    </div>
    <div class="radio">
      <input type="radio" [(ngModel)]="downloadMode" value="grafterizer-json" id="mode_5">
      <label for="mode_5">Grafterizer transformation as JSON</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="showDownloadDialog = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="download()">OK</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showConfirmDeleteDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Are you sure you want to delete the transformation?</h3>
  <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="showConfirmDeleteDialog = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="delete()">Confirm</button>
  </div>
</clr-modal>