<clr-modal [(clrModalOpen)]="modalEnabled">
  <h3 class="modal-title">Filter rows</h3>
  <div class="modal-body">
    <div class="toggle-switch">
      <input [(ngModel)]="take" type="checkbox" id="toggle_1">
      <label for="toggle_1">{{take?"Take matching rows":"Remove matching rows"}}</label>
    </div>
    <br>

    <div>
      <label for="cols">Columns to filter:</label>
<!--
      <rl-tag-input [(ngModel)]="colsToFilter" [autocomplete]="true" [autocompleteItems]="columns" [autocompleteMustMatch]="true"
        placeholder="Column names" id="cols"></rl-tag-input>
-->
    </div>
    <form action="">
      <div class="radio">
        <input type="radio" [(ngModel)]="grepmode" name="mode" value="text" id="mode_1">
        <label for="mode_1">Matching text</label>
      </div>
      <div class="radio">
        <input type="radio" [(ngModel)]="grepmode" name="mode" value="regex" id="mode_2">
        <label for="mode_2">Regular expression</label>
      </div>
      <div class="radio">
        <input type="radio" [(ngModel)]="grepmode" name="mode" value="function" id="mode_3">
        <label for="mode_3">Function</label>
      </div>

    </form>
    <br>
    <div *ngIf="grepmode=='text'">
      <label for="matchText">Text to match:</label>
      <input type="text" id="matchText" [(ngModel)]="filterText" size="25">
      <div class="checkbox removablePropertyFields">
        <input type="checkbox" [(ngModel)]="ignoreCase" id="ic">
        <label for="ic">Ignore case</label>
      </div>
    </div>



    <div *ngIf="grepmode=='regex'">
      <label for="matchRegex">Regular expression:</label>
      <input type="text" id="matchRegex" [(ngModel)]="filterRegex" size="25">
    </div>
    <div *ngIf="grepmode=='function'">
      <div *ngFor="let filterFunction of filterFunctionsNames; index as i;">
        <div class="row ">
          <button class="btn btn-link btn-icon-link removablePropertyButton"> 
              <clr-icon  shape="remove" size="22"  (click)="removeFilterFunction(idx)"></clr-icon> 
       
          </button>

          <ng2-completer class="removablePropertyFields" [(ngModel)]="filterFunctionsNames[i]" [datasource]="functionNames" [openOnFocus]="true"
            [minSearchLength]="0" [autoHighlight]="true" [selectOnFocus]="true" [fillHighlighted]="false"></ng2-completer>
        </div>

      </div>
      <button class="btn btn-primary" (click)="addFilterFunction()">Compose with</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>