<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Filter rows</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <!--       <div class="toggle-switch">
        <input [(ngModel)]="take" type="checkbox" id="toggle_1">
        <label for="toggle_1">{{take?"Take matching rows":"Remove matching rows"}}</label>
      </div>
      <br> -->
      <ng-select class="ng-select" [items]="previewedDataColumns" [multiple]="true" [hideSelected]="true"
        appendTo="body" placeholder="Select column(s) to filter" [(ngModel)]="colsToFilter"></ng-select>
      <h5>Filter conditions</h5>
      <br>
      <div class="radio">
        <input type="radio" [(ngModel)]="grepmode" name="mode" value="text" id="mode_1">
        <label for="mode_1">Matching text</label>
      </div>
      <div class="radio">
        <input type="radio" [(ngModel)]="grepmode" name="mode" value="regex" id="mode_2">
        <label for="mode_2">Regular expression</label>
      </div>
      <div class="radio">
        <input type="radio" [(ngModel)]="grepmode" name="mode" value="function" id="mode_3">
        <label for="mode_3">Function</label>
      </div>
      <div *ngIf="grepmode=='text'">
        <br>
        <div fxLayout="row" fxLayoutGap="60px">
          <div fxFlex="70">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Text to match" [(ngModel)]="filterText">
            </mat-form-field>
          </div>
          <div fxFlex="20">
            <clr-checkbox id="checkbox" [(ngModel)]="ignoreCase">Ignore case</clr-checkbox>
          </div>
        </div>
      </div>
      <div *ngIf="grepmode=='regex'">
        <br>
        <div fxLayout="row">
          <div fxFlex="70">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Regular expression" [(ngModel)]="filterRegex">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div *ngIf="grepmode=='function'">
        <div fxFlex="70">
          <ng-select class="ng-select" id="customFunctions" [items]="customFunctions" [multiple]="false"
            [hideSelected]="true" bindLabel="name" appendTo="body" placeholder="Select custom function"
            [(ngModel)]="selectedCustomFunction">
          </ng-select>
        </div>
      </div>
      <br>
      <div fxLayout="column">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Comments" [(ngModel)]="docstring">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="resetModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>