<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalSize]="'lg'">
  <h3 class="modal-title">Add columns</h3>
  <div class="modal-body">
    <div *ngFor="let columnSpec of columnsArray; let id = index">
      <div class="row ">
        <button class="btn btn-link btn-icon-link" [disabled]="columnsArray.length === 1">
          <clr-icon shape="remove" size="22" (click)="removeColumn(id)"></clr-icon>
        </button>
        <div class="removablePropertyName">
          <label for="{{'colname'+id}}">Name of new column</label>
          <input type="text" id="{{'colname'+id}}" [(ngModel)]="columnSpec.colName" size="25">
        </div>
        <div class="removablePropertyFields">
          <label for="{{'value'+id}}">Value</label>
          <input type="text" id="{{'value'+id}}" [(ngModel)]="columnSpec.colValue" size="25">
        </div>
      </div>
      <br>
    </div>
    <button class="btn btn-primary" (click)="addColumn()">Add more columns</button>
    <div>
      <br>
      <label for="comment">Comment</label>
      <input type="text" id="comment" [(ngModel)]="docstring" size="80">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>