<clr-modal [(clrModalOpen)]="openRdfPrefixManagementDialog" [clrModalClosable]="false" [clrModalSize]="'lg'" #rdfPrefixManagementModal>
  <h3 class="modal-title" fxLayoutAlign="space-between center">
    <div>Edit RDF mapping prefixes</div>
    <button *ngIf="!isEditVocab" mat-raised-button color="primary" (click)="addNewVocabulary()">Add new prefix</button>
  </h3>
  <div class="modal-body">

    <mat-accordion *ngIf="!isEditVocab">
      <mat-expansion-panel *ngFor="let transfVocab of transformationVocabs">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ transfVocab.name }}
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="space-between center">
            <div class="sin-edit-prefix-namespace-text">
              {{'(' + transfVocab.namespace + ')'}}
            </div>
            <div>
              <button mat-icon-button color="primary" id="{{transfVocab.name}}" value="edit" (click)="editVocab($event)">
                <mat-icon aria-label="Edit prefix">mode_edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" id="{{transfVocab.name}}" value="delete" (click)="deleteVocab($event)">
                <mat-icon aria-label="Delete prefix">delete</mat-icon>
              </button>
            </div>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between flex-start">
          <mat-list>
            <h3 mat-subheader *ngIf="transfVocab.classes">Classes</h3>
            <mat-list-item *ngFor="let class of transfVocab.classes">
              <p mat-line>{{class}}</p>
            </mat-list-item>
          </mat-list>

          <mat-list>
            <h3 mat-subheader *ngIf="transfVocab.properties">Properties</h3>
            <mat-list-item *ngFor="let property of transfVocab.properties">
              <p mat-line>{{property}}</p>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngFor="let defVocab of defaultVocabs; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ defVocab.name }}
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="space-between center">
            <div>
              {{'(' + defVocab.namespace + ')'}}
            </div>
            <div>
              <!-- <button mat-icon-button color="primary" id="{{defVocab.name}}" value="edit" (click)="editVocab($event)">
                <mat-icon aria-label="Edit prefix">mode_edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" id="{{defVocab.name}}" value="delete" (click)="deleteVocab($event)">
                <mat-icon aria-label="Delete prefix">delete</mat-icon>
              </button> -->
            </div>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between flex-start">
          <mat-list>
            <h3 mat-subheader>Classes</h3>
            <mat-list-item *ngFor="let class of defVocab.classes">
              <p mat-line>{{class}}</p>
            </mat-list-item>
          </mat-list>

          <mat-list>
            <h3 mat-subheader>Properties</h3>
            <mat-list-item *ngFor="let property of defVocab.properties">
              <p mat-line>{{property}}</p>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div fxLayout="column" *ngIf="isEditVocab">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Vocabulary prefix name" [(ngModel)]="editedVocabPrefixName">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Vocabulary namespace URI" [(ngModel)]="editedVocabNamespaceURI">
      </mat-form-field>
      <div fxLayout="row">
        <input #vocabFile type="file" (change)="vocabFileChange($event)" placeholder="Upload file">
        <button mat-button (click)="resetFileInput()">Reset file</button>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="!isEditVocab" type="button" class="btn btn-primary" (click)="done()">Done</button>
    <button *ngIf="isEditVocab" type="button" class="btn btn-primary" (click)="confirmVocabEdit()" [disabled]="!editedVocabPrefixName.trim() || !editedVocabNamespaceURI.trim() && !loadingVocabFile">Edit vocabulary</button>
    <button *ngIf="isEditVocab" type="button" class="btn btn-primary" (click)="cancelVocabEdit()">Cancel</button>
  </div>
</clr-modal>