<div fxLayout='column' fxLayoutAlign="start center">
  <label for="label">
    <strong>Suggested Transformations</strong>
  </label>

  <p-listbox [options]="transformations" [(ngModel)]="selected" (ngModelChange)="onChange($event)" [style]="{'width':'220px'}"
    [listStyle]="{'max-height':'250px'}">
    <div id="label">

    </div>
  </p-listbox>
  <button class="btn btn-primary btn-sm" (click)="selected='custom-functions'">Edit custom functions</button>
</div>

<make-dataset [modalEnabled]="selected=='MakeDatasetFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></make-dataset>
<take-rows [modalEnabled]="selected=='DropRowsFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></take-rows>
<take-columns [modalEnabled]="selected=='ColumnsFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></take-columns>
<split-columns [modalEnabled]="selected=='SplitFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></split-columns>
<sort-dataset [modalEnabled]="selected=='SortDatasetFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></sort-dataset>
<shift-row [modalEnabled]="selected=='ShiftRowFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></shift-row>
<shift-column [modalEnabled]="selected=='ShiftColumnFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></shift-column>
<reshape-dataset [modalEnabled]="selected=='MeltFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></reshape-dataset>
<rename-columns [modalEnabled]="selected=='RenameColumnsFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></rename-columns>
<merge-columns [modalEnabled]="selected=='MergeColumnsFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></merge-columns>
<derive-column [modalEnabled]="selected=='DeriveColumnFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></derive-column>
<deduplicate [modalEnabled]="selected=='RemoveDuplicatesFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></deduplicate>
<add-row [modalEnabled]="selected=='AddRowFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></add-row>
<add-columns [modalEnabled]="selected=='AddColumnsFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></add-columns>
<map-columns [modalEnabled]="selected=='MapcFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></map-columns>
<group-dataset [modalEnabled]="selected=='GroupRowsFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></group-dataset>
<filter-rows [modalEnabled]="selected=='GrepFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></filter-rows>
<utility-function [modalEnabled]="selected=='UtilityFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></utility-function>
<custom-function-modal [modalEnabled]="selected=='CustomFunction'" class="sin-flex" (emitter)="emitFunction($event)" [function]="function"></custom-function-modal>
