/* You can add global styles to this file, and also import other style files */

.sin-left-menu {
  display: flex;
  flex-direction: column;
}

.sin-suggested-transformations {
  display: flex;
  flex-direction: inherit;
  align-self: center;
  padding-top: 15px;
  align-items: center;
}
.sin-pipeline {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-self: center;
  align-items: center;
}

.sin-pipeline > {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-self: center;
  align-items: center;
}

.sin-hidden {
  display: none;
}

.sin-flex {
  display: flex;
}
