.sin-dialog-content-padding {
    padding: 16px 10px 16px 10px;
}

.sin-prefix-select-offset {
    min-height: 120px;
}

.sin-api-doc-docstring {
    font-size: 14px;
    border: lightgrey;
    border-style: groove;
    padding: 15px;
}