<split direction="horizontal">
  <split-area [size]="20" class="sin-left-menu">
    <selectbox (emitter)="emitFunction($event)" class="sin-suggested-transformations"></selectbox>
    <pipeline [function]="function" class="sin-pipeline"></pipeline>
  </split-area>
  <split-area [size]="80">
    <split direction="vertical">
      <split-area [size]="70">
        <app-handsontable></app-handsontable>
      </split-area>
      <split-area [size]="30">
        <profiling></profiling>
      </split-area>
    </split>
  </split-area>
</split>

<!--<div class="row">
<div class="col-xs">

</div>
</div>-->
<!--
<div class="row">
<div class="col-xs">

</div>
</div>-->
<!--
<nav class="sidenav">

</nav>
-->
