<div *ngIf="!showPipelineOnly" class="main-container">
  <div class="content-container">
    <div class="content-area">
      <div class="alert alert-danger sin-error-pipeline" *ngIf="previewError">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <i class="material-icons md-dark">error_outline</i>
            </div>
            <span class="alert-text">
              {{previewError._body ? 'Error while computing transformation. Error message:' : previewError.toString()}}
              <br /> {{previewError._body ? previewError._body : '' }}
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="showHandsonTableProfiling" class="handsontable">
        <app-handsontable *ngIf="!previewError" [suggestions]="recommendations"
          (selectionChanged)="tableSelectionChanged($event)"></app-handsontable>
      </div>
      <div *ngIf="showHandsonTableProfiling" class="profiling">
        <profiling></profiling>
      </div>
    </div>
    <nav class="sidenav">
      <div fxLayout='column' fxLayoutAlign="start center">
        <div class="outer-container">
          <mat-tab-group>
            <mat-tab label="Pipeline" id="pipeline-tab">
              <br>
              <selectbox fxflex class="sin-suggested-transformations" id="selectbox" [suggestions]="recommendations"
                [headers]="loadedDataHeaders"></selectbox>
            </mat-tab>
            <mat-tab label="Metadata" id="metadata-tab">
              <br>
              <div id="container">
                <mat-grid-list cols="1" rowHeight="60px">
                  <mat-grid-tile>
                    <div id="input-field">
                      <mat-form-field class="input">
                        <input matInput placeholder="Title" [(ngModel)]="title">
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div id="input-field">
                      <mat-form-field class="input">
                        <input matInput placeholder="Description" [(ngModel)]="description">
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div id="input-field">
                      <mat-form-field class="input">
                        <input matInput placeholder="Keywords" [(ngModel)]="keywords">
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div id="toggle">
                      <mat-slide-toggle [color]="color" [(ngModel)]="isPublic">Expose as public</mat-slide-toggle>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <perfect-scrollbar style="width: 100vw; height: 100%;">
          <div class="horizontal-container" fxLayout="row" fxLayoutAlign="center" fxFlex="100%">
            <pipeline fxflex class="sin-pipeline"></pipeline>
          </div>
        </perfect-scrollbar>
      </div>
    </nav>
  </div>
</div>

<perfect-scrollbar *ngIf="showPipelineOnly" style="width: 100vw; height: 100%;">
  <div class="horizontal-container" fxLayout="row" fxLayoutAlign="center" fxFlex="100%">
    <pipeline></pipeline>
  </div>
</perfect-scrollbar>