.sidenav {
  padding: 10px;
}

.sin-suggested-transformations {
  padding-top: 15px;
}

.sin-pipeline {
  padding-top: 20px;
  width: 200px;
}

.sin-hidden {
  display: none;
}

.sin-flex {
  display: flex;
}

.handsontable {
  padding-top: 5px;
  padding-left: 5px;
}
