<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalSize]="'lg'">
  <h3 class="modal-title">Shift row</h3>
  <div class="modal-body">
    <div class="row">
      <div>
        <label for="indexfrom">Index from:</label>
        <input type="number" id="indexfrom" [(ngModel)]="indexFrom" size="25">
      </div>
      <div id="indexto" *ngIf="shiftrowmode=='position'">
        <label for="indexTo">Index to:</label>
        <input type="number" id="position" [(ngModel)]="indexTo" size="25">
        <br>
      </div>
    </div>
    <br>
    <form action="rowmode">
      <div class="radio">
        <input type="radio" [(ngModel)]="shiftrowmode" name="mode" value="position" id="mode_1">
        <label for="mode_1">Shift to index</label>
      </div>
      <div class="radio">
        <input type="radio" [(ngModel)]="shiftrowmode" name="mode" value="eods" id="mode_2">
        <label for="mode_2">Shift to the end of dataset</label>
      </div>
    </form>
    <br>
    <div>
      <label for="comment">Comment:</label>
      <input type="text" id="comment" [(ngModel)]="docstring" size="80">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>