<clr-modal [(clrModalOpen)]="modalEnabled" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Shift row</h3>
  <div class="modal-body">
    <div fxLayout="column">
      <form action="rowmode">
        <div class="radio">
          <input type="radio" [(ngModel)]="shiftrowmode" name="mode" value="position" id="mode_1">
          <label for="mode_1">Shift to index</label>
        </div>
        <div class="radio">
          <input type="radio" [(ngModel)]="shiftrowmode" name="mode" value="eods" id="mode_2">
          <label for="mode_2">Shift to the end of dataset</label>
        </div>
      </form>
      <br>
      <div fxLayout="row" fxLayoutGap="60px">
        <div fxFlex>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="From index" [(ngModel)]="indexFrom">
          </mat-form-field>
        </div>
        <div fxFlex id="indexto" *ngIf="shiftrowmode=='position'">
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="To index" [(ngModel)]="indexTo">
          </mat-form-field>
        </div>
      </div>
      <br>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Comments" [(ngModel)]="docstring">
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
  </div>
</clr-modal>